In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
Tesla = yf.Ticker("TSLA")

In [3]:
tesla_data = Tesla.history(period="max")

In [4]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

In [5]:
tesla_data.reset_index(inplace=True)
tesla_data.tail()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3431,3431,2024-02-15,189.160004,200.880005,188.860001,200.449997,120831800,0,0.0
3432,3432,2024-02-16,202.059998,203.169998,197.399994,199.949997,111173600,0,0.0
3433,3433,2024-02-20,196.130005,198.600006,189.130005,193.759995,104545800,0,0.0
3434,3434,2024-02-21,193.360001,199.440002,191.949997,194.770004,103844000,0,0.0
3435,3435,2024-02-22,194.000000,198.320007,191.360001,197.410004,92538200,0,0.0

In [6]:
url="https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data  = requests.get(url).text

In [7]:
soup=BeautifulSoup(html_data,'html.parser')

In [8]:
tesla_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

IndexError: list index out of range

In [9]:
tesla_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])

In [10]:
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

IndexError: list index out of range

In [11]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [12]:
tesla_revenue.dropna(inplace=True)

In [13]:
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [14]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [15]:
for row in soup.find_all("tbody")[0].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

IndexError: list index out of range

In [16]:
for row in soup.find_all("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?